<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
    <meta charset="UTF-8">
    <title>Create</title>
</head>
<body>
<div>
    <div th:replace="/layout :: nav"></div>
    <div style="position:absolute; margin-top: 150px">
        <form th:action="@{/product/create}" method="post" th:object="${product} "
              novalidate="novalidate">
            <!--                            <div class="form-row" >-->
            <input type="hidden" th:field="*{id}">
            <div class="col form-label-group ">
                <label for="name">Name Product:</label>
                <input id="name" th:field="*{name}" type="text" class="form-control"
                       placeholder="Name product...">
                <p style="color: red" class="text-center" th:errors="*{name}"></p>
            </div>
            <div class="col form-label-group ">
                <label for="manufacture">Manufacturer:</label>
                <input id="manufacture" th:field="*{manufacture}" type="text"
                       class="form-control" placeholder="Manufacture..."></input>
                <p style="color: red" class="text-center" th:errors="*{manufacture}"></p>
            </div>
            <div class="col form-label-group ">
                <label for="price">Price:</label><br>
                <input id="price" type="number" th:field="*{price}" class="form-control"
                       placeholder="Price...">
                <p style="color: red" class="text-center" th:errors="*{price}"></p>
            </div>
            <div class="col form-label-group ">
                <label for="type">Product Type</label>
                <select id="type" th:field="*{productType}" class="form-control" style="height: 50px">
                    <option
                            th:each="proType : ${productType}"
                            th:value="${proType.id}"
                            th:text="${proType.name}"></option>
                </select>
            </div>
            <div style="text-align: center" >
                <button type="submit" class="btn btn-outline-info">Save</button>
                <a th:href="@{/product}" class="btn btn-outline-info">Close</a>
            </div>
        </form>
    </div>

</div>

</body>
</html>