<div class="container-fluid" xmlns:th="http://www.thymeleaf.org">

    <div id="content" style="background-color: whitesmoke">
        <div class="row">

        <div class="col-lg-12 bg-light" >
            <table class="table table-striped">
                <tr>
                    <th>Name:</th>
                    <td th:text="${product.name}"></td>
                </tr>
                <tr>
                    <th>Manufacturer:</th>
                    <td th:text="${product.manufacture}"></td>
                </tr>
                <tr>
                    <th>Price (USD) :</th>
                    <td th:text="${product.price}"></td>
                </tr>
                <tr>
                    <th>Product Type:</th>
                    <td th:text="${product.productType.name}"></td>
                </tr>
            </table>
            <a class="btn btn-outline-info" data-dismiss="modal">Back</a>
        </div>
    </div>
</div>
</div>