<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/header::header}">
    <meta charset="UTF-8">
    <title>Create</title>
</head>
<body>
<div>
    <div class="row">
        <div class="row" th:replace="~{layout/navbar::navbar}"></div>
        <div class="row" style="position: relative; margin-top: 130px">
            <div style="text-align: center;" class="container-fluid">
                <div class="form-group col-12">
                    <form method="post" th:action="@{/student/create}" th:object="${student}">
                        <div hidden>
                            <label>Id</label>
                            <input class="input-group mb-3" type="text" th:field="*{id}"/>
                        </div>
                        <div class="col">
                            <label>Student Name</label>
                            <input class="input-group mb-3" type="text" th:field="*{name}"/>
                            <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
                               style="color: red"></p>
                        </div>
                        <div class="col">
                            <label>Student Address</label>
                            <input class="input-group mb-3" type="text" th:field="*{address}"/>
                            <p th:if="${#fields.hasErrors('address')}" th:errors="*{address}"
                               style="color: red"></p>
                        </div>
                        <div class="col">
                            <label>Point</label>
                            <input class="input-group mb-3" type="text" th:field="*{mark}"/>
                            <p th:if="${#fields.hasErrors('mark')}" th:errors="*{mark}"
                               style="color: red"></p>
                        </div>
                        <div class="col">
                            <label>Class</label>
                            <!--                <input class="input-group mb-3" type="text" th:field="*{rentType.ren_type_id}"/>-->
                            <select th:field="*{aClasses}" class="form-control" name="">
                                <option th:each="c : ${classList}"
                                        th:value="${c.id}"
                                        th:text="${c.name}">
                                </option>
                            </select>
                        </div>
                        <input class="btn btn-outline-success btn-sm w-25" type="submit" value="Save" style="text-align: center">
                    </form>
        </div>
    </div>
</div>
</div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>
