<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Edit Customer</title>-->
<!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">-->
<!--    <style>-->
<!--        p {-->
<!--            color: red;-->
<!--        }-->
<!--    </style>-->
<!--</head>-->
<!--<body>-->
<!--<div class="container-fluid">-->
<!--    <div id="content" style="background-color: whitesmoke">-->
<!--        <div class="row">-->
<!--            &lt;!&ndash;            <div class="col-lg-2" th:replace="layout :: col2">&ndash;&gt;-->
<!--            <div class="col-lg-2">-->
<!--            </div>-->
<!--            <div class="col-lg-10 bg-light">-->
<!--                <div class="col-12">-->
<!--                    <form th:action="@{/employee/edit}" method="post" th:object="${employee}" novalidate="novalidate">-->
<!--                        <div class="">-->
<!--                            <input type="hidden" th:field="*{id}">-->
<!--                            <div class="form-group">-->
<!--                                <label>Employee ID:</label>-->
<!--                                <input th:field="*{employeeId}" type="text" class="form-control" placeholder="ID employee..." readonly>-->
<!--                                <p class="text-center" th:errors="*{employeeId}" ></p>-->
<!--                            </div>-->
<!--                            <div class="form-group">-->
<!--                                <label>Name:</label>-->
<!--                                <input th:field="*{employeeName}" type="text" class="form-control" placeholder="Name employee...">-->
<!--                                <p class="text-center" th:errors="*{employeeName}" ></p>-->
<!--                            </div>-->
<!--                            <div class="form-group ">-->
<!--                                <label>Date of birth:</label>-->
<!--                                <input th:field="*{employeeBirthday}" type="date" class="form-control" placeholder="Date of birth..."></input>-->
<!--                                <p class="text-center" th:errors="*{employeeBirthday}" ></p>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="">-->
<!--                            <div class="form-group ">-->
<!--                                <label>ID Card:</label><br>-->
<!--                                <input type="text" th:field="*{employeeIdCard}" class="form-control" placeholder="ID Card...">-->
<!--                                <p class="text-center" th:errors="*{employeeIdCard}" ></p>-->
<!--                            </div>-->
<!--                            <div class="form-group ">-->
<!--                                <label>Phone:</label><br>-->
<!--                                <input type="text" th:field="*{employeePhone}" class="form-control" placeholder="Phone...">-->
<!--                                <p class="text-center" th:errors="*{employeePhone}" ></p>-->
<!--                            </div>-->
<!--                            <div class="form-group ">-->
<!--                                <label>Email:</label><br>-->
<!--                                <input type="text" th:field="*{employeeEmail}" class="form-control" placeholder="Email...">-->
<!--                                <p class="text-center" th:errors="*{employeeEmail}" ></p>-->
<!--                            </div>-->
<!--                            <div class="form-group ">-->
<!--                                <label>Salary:</label><br>-->
<!--                                <input type="text" th:field="*{employeeSalary}" class="form-control" placeholder="Salary...">-->
<!--                                <p class="text-center" th:errors="*{employeeSalary}" ></p>-->
<!--                            </div>-->
<!--                        </div>-->

<!--                        <div class="">-->
<!--                            <div class="form-group ">-->
<!--                                <label>Position:</label>-->
<!--                                <select th:field="*{position}" class="form-control">-->
<!--                                    <option-->
<!--                                            th:each="po : ${positionList}"-->
<!--                                            th:value="${po.id}"-->
<!--                                            th:text="${po.name}"></option>-->
<!--                                </select>-->
<!--                            </div>-->
<!--                            <div class="form-group ">-->
<!--                                <label>Division:</label>-->
<!--                                <select th:field="*{division}" class="form-control">-->
<!--                                    <option-->
<!--                                            th:each="di : ${divisionList}"-->
<!--                                            th:value="${di.id}"-->
<!--                                            th:text="${di.name}"></option>-->
<!--                                </select>-->
<!--                            </div>-->
<!--                            <div class="form-group ">-->
<!--                                <label>Education:</label>-->
<!--                                <select th:field="*{educationDegree}" class="form-control">-->
<!--                                    <option-->
<!--                                            th:each="edu : ${educationDegreeList}"-->
<!--                                            th:value="${edu.id}"-->
<!--                                            th:text="${edu.name}"></option>-->
<!--                                </select>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <button type="submit" class="btn btn-outline-success btn-sm">Save</button>-->
<!--                        <a th:href="@{/employee}" class="btn btn-outline-success btn-sm">Close</a>-->
<!--                    </form>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<!--    <script src="/js/jquery-3.5.1.min.js"></script>-->
<!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"-->
<!--            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"-->
<!--            crossorigin="anonymous"></script>-->
<!--    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"-->
<!--            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"-->
<!--            crossorigin="anonymous"></script>-->
<!--</body>-->
<!--</html>-->