<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/employee/delete}" method="post" th:object="${employee}" novalidate="novalidate">
    <input type="hidden" th:field="*{id}">
    <h3>Are you want to delete Employee <span style="color: red" th:text="${employee.employeeName}"></span> ? </h3>

    <button type="submit" class="btn btn-outline-success btn-sm">Delete</button>
    <button  class="btn btn-outline-success btn-sm " data-dismiss="modal" >Close</button>
</form>
</body>
</html>